#chart svg {
  height: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(240,240,240);
}


.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1.0);
  padding: 1px;
  border: 1px solid rgb(150,150,150);
  border-radius: 10px;
  z-index: 100;
  font-family: Arial;
  font-size: 12px;
  text-align: center;

}


svg text {
  font: normal 12px Arial;
}

svg .title {
 font: bold 14px Arial;
}


.nvd3.nv-noData {
  font-size: 18px;
  font-weight: bold;
}



/**********
*  Axes
*/


.nvd3 .nv-axis path {
  fill: none;
}

.nvd3 .nv-axis line {
  fill: none;
  stroke: rgb(150,150,150);
}

/**********
* Lines
*/

.nvd3 .nv-groups path.nv-line {
  fill: none;
  stroke-width: 1.5px;
}
