  <div href="#/">
    <div class="container" ng-controller="MainCtrl">
    <div id="chart">

    <svg></svg>

    </div>

    <form  ng-submit="submit()" ng-controller='inputCtrl'>
    try it !
    input in the form: graphNumber,x,y (eg 1,20,20)
    <input type='text' ng-model='input' placeholder='enter graph num, x, y ..'>
    OR: send a post request to /data: eg: curl --data 'gn=1&ts=20&val=20' http://d3db.azurewebsites.net/data
    <!-- <input type='text' ng-model='values' placeholder='type x,y value pair here ..'> -->
    </form>

    <div ng-model='user'>
    welcome, {{ user }}
    </div>

  </div>